// temporary - re-enable if useful
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-2xl;
}

.react-github-calendar svg {
  @apply bg-gray-50;
}

.panel {
  @apply border-b-4 border-r-2 rounded border-gray-400 p-2 bg-white;
  // margin-bottom: auto; // remove weird white-space caused by css-grid
}

.carousel .slide {
  background: white !important;
}

@media only screen and (max-width: 640px) {
  .xs-flex-col {
    flex-direction: column;
  }
}

// don't show github
@media only screen and (min-height: 300px) and (min-width: 768px) {
  .tablet-hidden {
    display: none;
  }
}

@media only screen and (min-height: 660px) and (min-width: 768px) {
  .monitor-block {
    display: block;
  }
}

// @mixin text-outline($color, $thickness: 2px) {
//   text-shadow: -$thickness -$thickness 0 $color, $thickness -$thickness 0 $color,
//     -$thickness $thickness 0 $color, $thickness $thickness 0 $color;
// }

// .text-outline-white {
//   @include text-outline(#fff);
// }
